* {
    margin: 0px;
    padding: 0px;
}

.logo-header {
    display: block;
    width: 70px;
    margin: 10px auto 10px auto;
}

nav {
    width: 90%;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    background-color: #009193;
}

ul {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
    height: 70%;
    padding: 10px;
    border-radius: 10px;
}

li:hover {
    background-color: #04c8cb;
}

li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Cantora One', sans-serif;
    font-size: 16px;
    
}

.fa-solid {
    text-align: center;
    color: white;
}

li::marker{
    content:"";
}

.promo {
    height: 200px;
    width: 90%;
    margin: 20px auto 0 auto;
    position: relative;
}

.promo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: opacity(50%) contrast(50%)
}

.promo-header{
    position: absolute;
    top: 4px;
    left: 16px;
    font-size: 150px;
    color: white;
    font-family: 'Cantora One', sans-serif;
}


.infos {
    display: flex;
    width: 90%;
    margin: 20px auto 10px auto;
    justify-content: space-around;
    gap: 10px;
}

article{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color:  #009193;
    border-radius: 10px;
    align-items: center;
    position: relative;
}

.info-header{
    width: 90%;
    font-family: 'Cantora One', sans-serif;
    align-self: left;
    margin: 10px 0 10px 0;
    color: white;
}

.info-img{
    width: 90%;
}

.info-text{
    width: 90%;
    margin: 10px 0 20px 0;
    color: white;
    font-size: 12px;
}

.info-more {
    width: 90%;
    color: white;
    font-size: 12px;
    align-self:left;
    vertical-align: middle;
    position: absolute;
    bottom: 10px;
}

footer {
    display: flex;
    width: 90%;
    margin: 10px auto 10px auto;
    justify-content: flex-start;
}

.logo-footer {
    display: block;
    width: 20px;
    object-fit: cover;
    margin: 10px auto 10px 10px;
}

footer p{
    width: 50%;
    margin: 10px 10px 0 0;
    font-family: 'Cantora One', sans-serif;
    border-top: 1px solid #000000;
    text-align: right;
}

